<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sun.bob.leela">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:label="Puff"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:hardwareAccelerated="true"
            android:label="Puff"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AddAccountActivity"
            android:label="@string/title_activity_add_account"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sun.bob.leela.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.AddTypeDialogActivity"
            android:label="Add New Account Type"
            android:theme="@style/AppCompatAlertDialogStyle"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activities.AddCategoryDialogActivity"
            android:label="Add New Category"
            android:theme="@style/AppCompatAlertDialogStyle"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activities.ImageCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AuthorizeActivity"
            android:label="@string/title_activity_authorize"
            android:theme="@style/AppCompatAlertDialogStyle"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activities.SetMasterPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.activities.PasswordGenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.activities.PuffIntroActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <service
            android:name=".services.NotificationService"
            android:exported="false" />
        <service
            android:name=".services.IMEService"
            android:enabled="true"
            android:exported="true"
            android:label="Puff Secure IME"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".ui.activities.DialogAcctList"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatAlertDialogStyle" />
        <activity
            android:name=".ui.activities.SetQuickPasswordActivity"
            android:label="@string/title_activity_set_quick_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GestureLock" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sun.bob.leela.ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.AboutActivity"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>
