<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sun.bob.leela">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:label="Puff"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:hardwareAccelerated="true"
            android:label="Puff"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.DetailActivity"
            android:label="@null"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AddAccountActivity"
            android:label="@string/title_activity_add_account"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sun.bob.leela.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.AddTypeDialogActivity"
            android:label="Add New Account Type"
            android:theme="@style/AppCompatAlertDialogStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.AddCategoryDialogActivity"
            android:label="Add New Category"
            android:theme="@style/AppCompatAlertDialogStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.ImageCropActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AuthorizeActivity"
            android:label="@string/title_activity_authorize" />
        <activity
            android:name=".ui.activities.SetMasterPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@null"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>
